
\.vs/

aspnetcore1/obj/Debug/

aspnetcore1/obj/Release/

WebApNetcore1/obj/Debug/

WebApNetcore1/obj/Release/

TestApi/TestAPI1/TestAPI1/obj/Debug/netcoreapp2\.1/TestAPI1\.csproj\.CoreCompileInputs\.cache
