@model TestAPI1.Models.Lexicon

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Lexicon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adjective" class="control-label"></label>
                <input asp-for="Adjective" class="form-control" />
                <span asp-validation-for="Adjective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definition" class="control-label"></label>
                <input asp-for="Definition" class="form-control" />
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="See1" class="control-label"></label>
                <input asp-for="See1" class="form-control" />
                <span asp-validation-for="See1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="See2" class="control-label"></label>
                <input asp-for="See2" class="form-control" />
                <span asp-validation-for="See2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="See3" class="control-label"></label>
                <input asp-for="See3" class="form-control" />
                <span asp-validation-for="See3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
